<mat-divider></mat-divider>
<mat-nav-list>    
    <h2 matSubheader>
        <mat-icon>house</mat-icon>
        Menu
    </h2>

    <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['']">        
        Principal
    </a>

    <mat-divider></mat-divider>
    <h2 matSubheader>
        <mat-icon>lock</mat-icon>
        Criptografador
    </h2>

    <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['/code7-crypto']">        
        Code7
    </a>
    
    <mat-divider></mat-divider>
    <h2 matSubheader>
        <mat-icon>dashboard</mat-icon>
        Dashboard
    </h2>

    <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['/dashboard', 'code7']">        
        Code7
    </a>

    <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['/dashboard', 'system']">        
        Sistema
    </a>

    <mat-divider></mat-divider>
    <h2 matSubheader>
        <mat-icon>forward_to_inbox</mat-icon>
        WhatsApp
    </h2>

    <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['/send-message-whatsapp', 'hsm']">        
        Enviar HSM
    </a>

</mat-nav-list>