:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

mat-card{
    background-color: #050447;
    color: #fff;
    width: 350px;
    height: 400px;
}

.layout{
    height: 100% !important;
    width:  100% !important;
}