<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="header">Portal Full Dev - Desenvolvimento</h1>
        </div>
    
        <div class="col-12">
            <p>
                O projeto foi inspirado a partir de uma necessidade do cotidiano dos colaboradores da equipe, 
                com intuito de realizar testes dos envios de HSM para números de celulares específicos de 
                diferentes ambientes como por exemplo Code7MessagingIntegration API desenvolvida por Core Dev e também 
                diretamente pelo ambiente Flex da mensageria sem precisar abrir o CRM ou Portal Web para fazer simples 
                testes de validação de ambiente.
            </p>
            <p>
                O modelo de aplicação criada para esse projeto foi
                <a href="https://docs.microsoft.com/pt-br/aspnet/core/client-side/spa/angular?view=aspnetcore-6.0&tabs=visual-studio">
                    Angular com o ASP.NET Core
                </a>, criando uma estrutura com duas aplicação web moderna e avançada, contendo um BackEnd com 
                <a href="https://dotnet.microsoft.com/download/dotnet/5.0">
                    ASP.NET Core 5.0
                </a> robusto e seguindo os padrões de desenvolvimento de API da Code7, separadamente temos o FrontEnd com 
                <a href="https://angular.io/cli">
                    Angular/CLI
                </a> a interface do usuário, trabalhando com a modularizações de funcionalidades para futuramente 
                criar vários outros processos que devam ser otimizados em funcionalidades do portal. Esse modelo 
                oferece uma hospedagem de ambas aplicações publicadas como uma unidade de deploy.
            </p>
        </div>
    </div>
</div>