<div class="row">
    <div class="col-12 col-md-6 p-fluid">
        <mat-card>
            <app-spinner-loading [isLoading]="this.loadingProjectPanel"></app-spinner-loading>
            <app-project-panel-code7 *ngIf="!this.loadingProjectPanel"
            [hasErrorLoadingData]="this.projectPanelData.hasErrorLoadingData"
            [panelData]="this.projectPanelData">                
            </app-project-panel-code7>
        </mat-card>
    </div>

    <div class="col-12 col-md-6">
        <mat-card>  
            <app-spinner-loading [isLoading]="this.loadingDoughnutChart"></app-spinner-loading>
            <app-chart-doughnut-percentage *ngIf="!this.loadingDoughnutChart"
                [chartData]="this.doughnutChartData">
                [hasErrorLoadingData]="this.doughnutChartEntity.hasErrorLoadingData">
            </app-chart-doughnut-percentage>
        </mat-card>
    </div>
    
    <div class="col-12">
        <mat-card>
            <p-table [value]="this.listProjects" [responsive]="true" [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5,10,25,50]" appendTo="body">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Projeto</th>
                        <th style="width: 8pc;">Data Inicio</th>
                        <th style="width: 8pc;">Data Fim</th>
                        <th style="width: 8pc;">Data Ativo</th>                        
                        <th style="width: 5pc;">%</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData>
                    <tr>
                        <td>{{rowData.nmProject}}</td>
                        <td>{{rowData.dtStart}}</td>
                        <td>{{rowData.dtEnd}}</td>
                        <td>{{rowData.dtActive}}</td>
                        <td>{{rowData.nuPercentage}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </mat-card>
    </div>
</div>