html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

div .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12,
    .col-md-1, .col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12
        input, p-inputMask, textarea
{
    padding-bottom: 30px;
}

.label-checkbox {
    display: unset;
    margin-top: 10px;
    margin-left: 5px;
}

.color-code7 {
    background-color: #050447;
}

.header{
    text-align: center;
    color: #050447;
    text-shadow: rgba(0, 0, 0, 0.5) 0.2em 0.3em 0.2em;
}

.mat-tab-links {
    background-color: #050447;
}

.mat-tab-nav-bar.mat-background-primary > .mat-tab-header-pagination {
    background-color: #050447;
}

.mat-card .p-datatable .p-datatable-tbody > tr{
    color: #fff;
    background: rgb(175, 166, 166);
}

.mat-card .p-datatable .p-datatable-thead > tr > th{
    text-align: center;
    font-weight: 600;
    color: #fff;
    background: rgb(175, 166, 166);
}

.mat-card .p-datatable .p-datatable-tbody > tr > td{
    text-align: center;
}

.mat-card .p-datatable .p-paginator-bottom {
    background-color: rgb(175, 166, 166);
}