:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

mat-drawer {
    width: 250px;
    background-color: #050447;
    border-right: solid 1px #fff;
}

mat-drawer-container {
    height: 100%;
}

mat-drawer-content {
    padding: 20px;
}